.home{
  flex: 0.83;
  .three-blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .news-notifications{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}