.tabs{
  padding: 0;
  .tab-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
  }
  .tab-active {
    background-color: white;
    @include flexCenter();
    width: 130px;
    height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid white;
    border-radius: 6px 6px 0 0;
  }
  .tab-normal {
    @include flexCenter();
    width: 130px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #DDD;
    border-radius: 6px 6px 0 0;
  }
  .tab-content{
    padding: 20px;
  }

}