@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin blocksTitle {
  .title{
    background-color: #f5f5f5;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    align-items: center;
    padding: 12px 21px;
    .title-p{
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
    }
    .title-notif{
      background-color: #FF0F00;
      color: white;
      border-radius: 6px;
      padding: 3px 6px;
      font-weight: 900;
      margin-left: 12px;
    }
    p{
      margin: 0;
    }
  }
}

@mixin line {
  height: 26px;
  width: 2.64px;
  border-radius: 6px;
  margin-right: 6px;
}

@mixin date {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

@mixin likes {
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: 24px;
}