@import './initial';
@import './templates';
@import './variables';
@import './sidebar';
@import './header';
@import './block';
@import './home';

.app{
  .sidebar-pages{
    width: 1200px;
    margin: 20px auto ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
}