@import './initial';
@import './templates';
@import './variables';
@import './sidebar';
@import './header';
@import './block';
@import './home';
@import './tabs';
@import './news-template';

.app{
  .sidebar-pages{
    width: 1200px;
    margin: 20px auto ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
}


 .horizontal-line{
  height: 1px;
  width: 100%;
  background-color: #DDDDDD;
  border-radius: 50px;
  overflow: hidden;
}